@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.nav-link {
  font-size: 1rem;
  color: rgb(214, 214, 214); 
  transition: color 0.3s ease; 
}

.nav-link:hover {
  color: white;
}

.nav-link-spacing {
  margin-left: 20px;
  margin-right: 20px;
}

.brand-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.brand-text {
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 20px;
}

.text-bold {
  font-weight: bold;
  color: #3daeca;
}

.nav-link {
  font-size: 1rem;
}

.navbar-custom {
  background-color: rgb(36, 46, 60) !important;
}

.brand-text {
  color: #2e8ca4; 
}

.nav-link {
  color: rgb(214, 214, 214); 
}

.logo-image {
  margin-right: 10px; 
}

.brand-name {
  font-size: 1rem; 
}

.heading-container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.cross-container {
  position: absolute;
  left: -10px; 
  top: 20px; 
  display: flex;
  flex-direction: column;
}

.cross {
  position: absolute;
  left: 60px;
  top: 40px;
  font-size: 2rem;
  display: inline-block;
}
.span2 {
  font-weight: bold;
}

.green-cross {
  color: rgb(4, 198, 4);
  font-size: 7.5px;
  padding-top: 7.5px;
  transform: rotate(45deg);
}

.green2 {
  transform: rotate(45deg);
  color: #a8fe97;
}

.heading {
  margin-top: 20px; 
  line-height: 1.2;
  text-align: left; 
  font-weight: bold; 
  font-family: "Noto Serif", serif;
  color: rgb(214, 214, 214);
}

.subheading {
  text-align: left; 
  margin-left: 5px; 
  font-weight: bold; 
  font-family: "Noto Serif", serif;
  color: rgb(214, 214, 214);
}

.description {
  text-align: left; 
  margin-left: 5px; 
  font-weight: bold; 
  font-family: "Noto Serif", serif;
  color: rgb(214, 214, 214);
}

.home {
  background-color: rgb(36, 46, 60) !important;
  height: 100vh;
}

.skew-image {
  height: 80vh;
  width: 100vw;
  margin-top: -70vh;
  transform: skewY(-26.1deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px solid #a8fe97;
  border-bottom: 10px solid #a8fe97;
  overflow: hidden; 
  position: relative; 
  z-index: 1; 
}

@media (max-width: 1000px) {
  .skew-image {
    margin-top: -50vh; 
  }
}

.ClassPage {
  background-color: white;
  height: 100vh;
  position: relative;
  z-index: 2;
  width: 100vw;
  margin-top: -12vh;
  left: 0px;
  font-family: "Noto Serif", serif;
  margin-bottom: 40px;
}

.underline1 {
  display: inline-block;
  border-bottom: 20px solid #5cc6e0;
  margin-top: 5px; 
  padding-bottom: 15px;
}

.activities-container {
  display: flex;
  justify-content: center;
  gap: 130px; 
  align-items: center;
  padding-top: 200px;
}

.activity {
  text-align: center;
  max-width: 200px; 
}

.activity img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .activity img {
    width: 80%; 
  }
}

.activity h3 {
  margin: 10px 0 5px; 
}

.activity p {
  margin-top: 5px; 
}
@media (max-width: 768px) {
  .activity h3 {
    font-size: 1.2rem; 
  }

  .activity p {
    font-size: 0.9rem; 
  }
}

@media (max-width: 768px) {
  .activities-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Media Queries for responsive adjustments */
@media (max-width: 1200px) {
  .cross {
    font-size: 1.5rem;
  }
  .cross-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .cross {
    font-size: 1.2rem;
  }
  .cross-text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .cross {
    font-size: 1rem;
  }
  .cross-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .ClassPage {
    margin-top: -20vh; 
  }

  .underline1 {
    border-bottom: 8px solid #5cc6e0; 
    margin-top: 3px; 
    padding-bottom: 1px; 
  }

  .activities-container {
    gap: 1px;
    padding-top: 80px;
  }

  .activity h3 {
    margin: 8px 0 3px; 
  }

  .right-description {
    font-size: 0.9rem; 
    margin-left: -30px; 
  }
}
@media (max-width: 768px) {
  .ClassPage {
    margin-bottom: 250px; 
  }
}

.Promo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: white;
  color: #333;
  height: 100vh;
  position: relative;
  z-index: 2;
  width: 100vw;
  margin-top: -10vh;
  font-family: "Noto Serif", serif;
  margin-top: 50px;
}

.left-section {
  width: 30%;
  margin-right: 20px;
  margin-left: 80px;
  text-align: left;
}

.main-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.subheading2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  margin-bottom: 20px;
}

.description2 {
  margin-bottom: 10px;
  color: #333;
  font-weight: normal;
}

.underline {
  border-bottom: 3px solid #5cc6e0;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .underline {
    width: 400px;
  }
}

@media (max-width: 1000px) {
  .underline {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .underline {
    width: 320px;
  }
}
@media (max-width: 600px) {
  .underline {
    width: 80%;
  }

  .underline1 {
    width: 70%; 
  }
}
@media (max-width: 570px) {
  .underline {
    width: 95%;
  }
}
@media (max-width: 550px) {
  .underline {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .underline {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .underline {
    width: 95%;
  }
}
@media (max-width: 400px) {
  .underline {
    width: 95%;
  }
}
.weekends {
  margin-bottom: 25px;
}
.modules,
.info-item {
  margin-bottom: 2px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 1px;
  font-weight: bold;
}

.right-section {
  flex: 1;
  text-align: center;
}

.right-section img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.right-description {
  font-size: 1rem;
  margin-top: 10px;
}

.promo-image {
  height: 1px; 
  width: auto; 
  max-width: 100%; 
  margin-bottom: 10px;
  margin-top: -60px;
}

.right-description {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: -200px;
  font-family: "Margarine", sans-serif;
  font-style: italic;
  color: rgb(250, 103, 62);
}

.full-width-image {
  width: 100%; 
  margin-top: 20px;
}

.full-width-image img {
  width: 100%; 
  height: auto; 
}
@media (max-width: 1200px) {
  .right-description {
    font-size: 1.4rem;
  }
}

@media (max-width: 1000px) {
  .right-description {
    font-size: 1.2rem;
    margin-left: -100px;
  }
}

@media (max-width: 768px) {
  .right-description {
    font-size: 1rem;
    margin-left: -50px;
  }
}


@media (max-width: 768px) {
  .Promo {
    flex-direction: column;
    align-items: center;
    height: auto; 
  }

  .left-section,
  .right-section {
    width: 50%; 
    margin: 10px 0; 
    text-align: center; 
  }

  .main-heading,
  .subheading2,
  .description2 {
    font-size: 1rem; 
  }

  .right-description {
    margin-left: 0;
  }

  .promo-image {
    margin-top: 0;
  }
}

/* OnlineClass component styles */
.online-class {
  font-family: "Noto Serif", serif;
}

.image-section {
  position: relative;
  margin-top: 20px;
}

.full-width-image {
  width: 100vw;
  height: auto;
  filter: blur(2px);
}

.full-width-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 103, 129, 0.5);
  z-index: 1;
}

.image-text {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px black;
  max-width: 300px;
  z-index: 2;
  text-align: left;
}

.image-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
  font-family: "Margarine", sans-serif;
  font-style: italic;
}

.image-text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.image-text h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.see-more-button {
  background-color: transparent;
  color: white;
  border: 3px solid #4aa8c0;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
}

.see-more-button:hover {
  background-color: #4aa8c0;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .image-text {
    margin-top: 10px;
  }

  .image-text h1 {
    font-size: 2rem;
  }

  .image-text h2 {
    font-size: 1.2rem;
  }

  .see-more-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 1000px) {
  .image-text {
    margin-top: 20px;
  }

  .image-text h1 {
    font-size: 1.8rem;
  }

  .image-text h2 {
    font-size: 1.1rem;
  }

  .see-more-button {
    font-size: 0.85rem;
    padding: 7px 14px;
  }
}

@media (max-width: 768px) {
  .image-text {
    margin-top: 30px;
  }

  .image-text h1 {
    font-size: 1.5rem;
  }

  .image-text h2 {
    font-size: 1rem;
  }

  .see-more-button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}

@media (max-width: 600px) {
  .image-text {
    margin-top: 40px;
  }

  .image-text h1 {
    font-size: 1.2rem;
  }

  .image-text h2 {
    font-size: 0.9rem;
  }

  .see-more-button {
    font-size: 0.75rem;
    padding: 5px 10px;
  }
}

@media (max-width: 480px) {
  .image-text {
    margin-top: 50px;
  }

  .image-text h1 {
    font-size: 1rem;
  }

  .image-text h2 {
    font-size: 0.8rem;
  }

  .see-more-button {
    font-size: 0.7rem;
    padding: 4px 8px;
  }
}
/* General media queries */
@media (max-width: 1200px) {
  .cross {
    font-size: 1.5rem;
  }
  .cross-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .cross {
    font-size: 1.2rem;
  }
  .cross-text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .cross {
    font-size: 1rem;
  }
  .cross-text {
    font-size: 0.8rem;
  }
}

/* Promo2 component styles */
.promo2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  background-color: white;
  color: #333;
  width: 100vw;
  margin-top: 50px;
  font-family: "Noto Serif", serif;
  position: relative;
  z-index: 2;
}

.left-section2 {
  width: 60%;
  text-align: left;
}

.main-heading2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-list2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-item2 {
  display: flex;
  align-items: center;
}

.image-item2 img {
  width: 150px; 
  height: auto;
  margin-right: 20px;
}

.image-item2 p {
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

.right-section2 {
  width: 35%;
  text-align: center;
}

.promo-image2 {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.right-description2 {
  font-size: 1.5rem;
  margin-top: 20px;
  font-family: "Margarine", sans-serif;
  font-style: italic;
  color: rgb(250, 103, 62);
  margin-left: -150px;
}
@media (max-width: 1000px) {
  .right-description2 {
    margin-left: 5px; 
  }
}
@media (max-width: 1000px) {
  .left-section2 {
    width: 50%;
  }

  .right-section2 {
    width: 50%;
    margin-top: 50px;
  }

  .promo-image2 {
    max-width: 300px;
  }
  .right-description2 {
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .promo2 {
    flex-direction: column;
    align-items: center;
  }

  .left-section2,
  .right-section2 {
    width: 90%;
  }

  .promo-image2 {
    max-width: 250px;
  }

  .main-heading2 {
    font-size: 1.5rem;
  }

  .right-description2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .promo-image2 {
    max-width: 200px;
  }

  .main-heading2 {
    font-size: 1.2rem;
  }

  .right-description2 {
    font-size: 1rem;
  }
}

.promo3-home {
  background-color: rgb(36, 46, 60) !important;
  height: 100vh;
}

.promo3-skew-image {
  height: 80vh;
  width: 100vw;
  margin-top: -70vh;
  transform: skewY(-26.1deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px solid hsl(22, 100%, 50%);
  border-bottom: 10px solid hsl(22, 100%, 50%);
  overflow: hidden; 
  position: relative; 
  z-index: 1; 
}

@media (max-width: 1000px) {
  .promo3-skew-image {
    margin-top: -50vh; 
  }
}
.promo3-heading-container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.promo3-cross-container {
  position: absolute;
  left: -10px; 
  top: 20px; 
  display: flex;
  flex-direction: column;
}

.promo3-cross {
  position: absolute;
  left: 60px;
  top: 40px;
  font-size: 2rem;
  display: inline-block;
}

.promo3-span2 {
  font-weight: bold;
}

.promo3-green-cross {
  color: rgb(4, 198, 4);
  font-size: 7.5px;
  padding-top: 7.5px;
  transform: rotate(45deg);
}

.promo3-green2 {
  transform: rotate(45deg);
  color: #a8fe97;
}

.promo3-heading {
  margin-top: 20px; 
  line-height: 1.2; 
  text-align: left; 
  font-weight: bold; 
  font-family: "Margarine", sans-serif;
  font-style: italic;
  color: hsl(22, 100%, 50%);
}

.promo3-subheading {
  text-align: left;
  margin-left: 5px;
  font-weight: bold; 
  font-family: "Noto Serif", serif;
  color: rgb(214, 214, 214);
}

.promo3-description {
  text-align: left;
  margin-left: 5px; 
  font-weight: bold; 
  font-family: "Noto Serif", serif;
  color: rgb(214, 214, 214);
}

.contact {
  background-color: white;
  position: relative;
  z-index: 2;
  padding: 20px;
  display: flex;
  margin-top: -80px;
  height: 64vh;
  font-family: "Noto Serif", serif;
}

.contact .left-section {
  width: 50%;
  padding-right: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

.contact .right-section {
  margin-top: 60px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.contact .logo-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.contact .logo {
  width: 80px; 
  height: auto;
  margin-right: 10px;
}

.contact .brand-name {
  font-size: 1.2rem; 
  color: #333; 
}

.contact .column {
  flex: 1;
  margin-top: 20px;
}

.contact .section-item {
  margin-bottom: 15px; 
}

.contact .section-item h3 {
  color: black; 
  border-bottom: none;
  padding-bottom: 0;
}
